BODY {
	line-height: 1.8em;
}

P {
	text-indent: 0 !important;
	margin-bottom: 1.5em !important;
}

.pywn_title-page-title {
	text-align: center;
}

.pywn_credits-section > H4,
.pywn_information-section > H4 {
	font-size: 105%;
	font-style: italic;
}

.pywn_information-section .pywn_information-block {
	display: block;
	margin-bottom: 0em;
}

.pywn_information-section .pywn_summary-content {
	text-indent: 0;
	margin-left: 1.5em;
}

.pywn_bottom-info {
	margin-top: 3em;
}

.pywn_bottom-info > DIV {
	margin-bottom: 0.8em;
}

.cover_image
{
	text-align: center;
	page-break-inside: avoid;
	clear: both;
	padding: 0px;
	margin: 0em auto;
	height: 95%;
}

.cover_image img
{
	page-break-inside: avoid;
	max-height: 100%;
	max-width: 100%;
}

ol.none { list-style-type: none; margin: 0em; padding: 0em; }
.hidden-tag { display: none; visibility: hidden; }
