<body>
  <div class="wrap">
    <div class="body-wrap">
      <div class="site-content">
        <div class="c-page-content reading-content-wrap chapter-type-text">
          <div class="content-area">
            <div class="container">
              <div class="row">
                <div class="main-col col-md-12 col-sm-12 sidebar-hidden">
                  <h1></h1>
                  <div class="main-col-inner">
                    <div class="c-blog-post">
                      <div id="manga-reading-nav-head" class="entry-header header"></div>
                      <div class="entry-content">
                        <input id="wp-manga-current-chap" type="hidden" data-id="1234" value="$CHAPSLUG$"/>
                        <div class="text-left">
                          <div class="code-block code-block-2"><div id="bg_123"></div><script></script></div>
                          <div class="code-block code-block-3"><div id="bg_456"></div><script></script></div>
                          {{chaptercontent|safe}}
                        </div>
                        <div id="text-chapter-toolbar"><a href="#"><i class="icon ion-md-settings"></i></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
