<main>
  <div></div>
  <div>
    <div>
      <div>
        <div>
          <div class="prose">
            <div x-init="" x-data="" wire:snapshot="" wire:effects="" wire:id="">
              <div wire:ignore="">
                <p>Example</p>
                <p>Content</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- The "Join Our Translation Team" Banner -->
      <div></div>
    </div>
  </div>
</main>
